<div class='about-content'>

  <h2>
    ViceHD is the best way to watch Vice videos online.
  </h2>

  <p>
  We love <a target='_blank' href='http://vice.com'>Vice</a>’s video content, but we hate the way we have to watch it. The YouTube channel is ok. The website is ok. We wanted something better. So we built something better.
  </p>

  <h3>Coming Soon</h3>
  <ul>
    <li>Better Player UI</li>
    <li>User Accounts</li>
    <li>Save videos to watch later</li>
  </ul>

  <h3>Under the Hood</h3>
  <ul>
    <li>
    Inspiration: <a target='_blank' href='http://vice.com'>Vice</a>, <a target='_blank' href='http://www.vhx.tv/'>VHX</a>, <a target='_blank' href='http://shelby.tv/'>Shelby.tv</a>
    </li>
    <li>Built With: <a target='_blank' href='http://nodejs.org/'>Node.js</a>, <a target='_blank' href='http://emberjs.com/'>Ember.js</a>
    <li>Design: <a target='_blank' href='https://twitter.com/elirousso'>Eli Rousso </a>
    <li>Development: <a target='_blank' href='https://twitter.com/moudy'>Moudy Elkammash </a>
  </ul>

  <div class='share-area'>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="vicehd.com" data-text="Check out ViceHD, the best way to watch Vice videos online" data-hashtags="vicehd">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>
