/********************************************************************************************/

/* Clear Fix */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}




/********************************************************************************************/

/* Image Replacement */

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
